table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    text-align: left;
    margin-top: 50px;
}

thead tr {
    border-bottom: 1px solid var(--gray);
    color: var(--blue);
}

tbody tr {
    border-bottom: 1px solid var(--gray);
    color: var(--black);
}

thead tr th,
tbody tr td {
    padding: 12px 15px;
}



